.wrapper {
    min-height: 100vh;
    position: relative;
    /*←相対位置*/
    padding-bottom: 120px;
    /*←footerの高さ*/
    box-sizing: border-box;
    /*←全て含めてmin-height:100vhに*/
}


/* font */

@font-face {
    font-family: 'mainfont';
    src: url('../font/HuiFont29.ttf') format('truetype');
}

.font {
    font-family: 'mainfont', sans-serif;
}


/* --- header --- */


/* top image */

.header-img {
    /* 背景画像 */
    background-image: url("../img/meadow-5731886_1920.jpg");
    /* 画像サイズ */
    padding: 10ex;
    /* 箱の上のスペース */
    margin: 0em;
    border: solid 5px white;
}

.header-img p {
    /* 文字の元カラーを白に変更 */
    color: rgb(255, 255, 255);
    font-family: mainfont;
    /* 文字サイズ変更 */
    font-size: 8ex;
    text-align: center;
    text-shadow: 0 0 8px black;
}


/* menu bar */

ul.header {
    /* メニューバー外側の余白(ゼロ) */
    margin: 0px;
    /* メニューバー内側の余白(左に15px) */
    padding: 0px 0px 0px 15px;
    /* バーの背景色(濃い赤色) */
    background-color: white;
    position: fixed;
    /* 要素の位置を固定する */
    top: 0;
    width: 100%;
    /* 基準の位置を画面の一番下に指定する */
}

ul.header li {
    /* メニュー項目の横幅(125px) */
    width: 125px;
    /* 横並びに配置する */
    display: inline-block;
    /* リストの先頭記号を消す */
    list-style-type: none;
    /* サブメニュー表示の基準位置にする */
    position: relative;
}

ul.header a {
    /* メニュー項目の背景色(白色) */
    background-color: white;
    /* メニュー項目の文字色(黒色) */
    color: rgb(0, 0, 0);
    /* メニュー項目のリンクの高さ(40px) */
    line-height: 40px;
    /* メインメニューの文字列の配置(中央寄せ) */
    text-align: center;
    /* メニュー項目の装飾(下線を消す) */
    text-decoration: none;
    /* 太字にする */
    font-weight: bold;
    /* 項目内全域をリンク可能にする */
    display: block;
}

ul.header a:hover {
    /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    background-color: rgb(231, 231, 231);
    /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
    color: rgb(0, 0, 0);
}

ul.header ul {
    /* 標準では非表示にする */
    display: none;
    /* サブメニュー外側の余白(ゼロ) */
    margin: 0px;
    /* サブメニュー内側の余白(ゼロ) */
    padding: 0px;
    /* 絶対配置にする */
    position: absolute;
}

ul.header li:hover ul {
    /* マウスポインタが載っている項目の内部にあるリストを表示する */
    display: block;
}

ul.header ul li {
    /* サブメニュー1項目の横幅(135px) */
    width: 200px;
    /* 項目上側の枠線(薄い灰色で1pxの実線) */
    border-top: 1px solid rgb(133, 128, 129);
}

ul.header ul li a {
    /* サブメニュー1項目の高さ(35px) */
    line-height: 35px;
    /* 文字列の配置(左寄せ) */
    text-align: left;
    /* 文字列前方の余白(5px) */
    padding-left: 5px;
    /* 太字にはしない */
    font-weight: normal;
}

ul.header ul li a:hover {
    /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    background-color: rgb(231, 231, 231);
    /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
    color: rgb(0, 0, 0);
}

.home {
    font-weight: 1200;
}


/* --- box --- */


/* left box */

.left-content {
    /* 箱の大きさ */
    padding: 3em;
    /* 箱の横幅 */
    width: 50em;
    /* 枠線 */
    border: 1px solid #ccc;
    /* 背景色 */
    background-color: #fff;
    /* 箱の影 */
    box-shadow: 5px 5px 5px rgb(255, 224, 224);
    /* フォント指定 */
    font-family: mainfont;
    /* 箱の上のスペース&中心に寄せる */
    margin: 2em auto;
}

.left-content p {
    font-size: large;
}

.title {
    border-bottom: 3px solid #ccc;
}

.title h1 {
    color: rgb(0, 0, 0);
}

.title a {
    text-decoration: none;
}

.left-content p {
    margin: 1ex;
}


/* Copyright */

.line {
    width: 100%;
    height: 2px;
    background: #D8D8D8;
    margin: 1px 0 0 0;
}

.copyright {
    width: 100%;
    color: #a7a7a7;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}

.left-content img {
    border: solid 5px white;
}
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,

}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}